[submodule "eclipse-oo"]
	path = eclipse-oo
	url = https://github.com/amelentev/eclipse.jdt-oo.git
[submodule "eclipse-oo-site"]
	path = eclipse-oo-site
	url = https://github.com/amelentev/eclipse.jdt-oo-site
