[submodule "eclipse-oo"]
	path = eclipse-oo
	url = git@github.com:amelentev/eclipse.jdt-oo.git
[submodule "eclipse-oo-site"]
	path = eclipse-oo-site
	url = git@github.com:amelentev/eclipse.jdt-oo-site.git
